* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #212529;
  font-family: 'Poppins', sans-serif;
  line-height: 1;
  color: #e9ecef;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
  text-align: center;
}

.letters {
  display: flex;
  margin-bottom: 1.5rem;
}

.letters > div {
  padding: 1.5rem;
  height: 7rem;
  width: 28rem;
  border: 2px solid #e9ecef;
  text-align: center;
}

.letters > div:nth-child(n + 2) {
  border-left: 0;
}

div {
  font-size: 2rem;
}

div > span {
  display: block;
  text-align: center;
}

span {
  margin-top: 0.7rem;
}

textarea {
  width: 56rem;
  height: 18rem;
  outline: none;
  resize: none;
  padding: 0.7rem;
  background-color: #212529;
  color: #e9ecef;
  border: 2px solid #e9ecef;
  margin-bottom: 1.5rem;
}

.vowels-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.vowels-container > div {
  padding: 1.5rem;
  height: 7rem;
  width: 14rem;
  border: 2px solid #e9ecef;
  border-collapse: separate;
  text-align: center;
  margin-right: 1rem;
}

.words-letters-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.words-letters-container > div {
  padding: 1.5rem;
  height: 7rem;
  width: 28rem;
  border: 2px solid #e9ecef;
  border-collapse: separate;
  text-align: center;
}

.words-letters-container > div:nth-child(n + 2) {
  border-left: 0;
}
